<% provide(:title, "Generate") %>
<h1>Generate Workout</h1>
<!--
Form:
Desired workout type (checkbox, minimum of one selected) (optional) 
Duration (minutes, required)

TODO: Restrict duration to integers, and give a minimum and maximum time
-->
<%= form_tag("parse_input", method: "get") do %>
  <%= check_box_tag(:run) %>
  <%= label_tag(:run, "Run") %> <br>
  <%= check_box_tag(:abs) %>
  <%= label_tag(:abs, "Abs") %> <br>
  <%= check_box_tag(:weights) %>
  <%= label_tag(:weights, "Weights") %> <br><br>
    
  <%= label_tag(:duration, "Duration") %>
  <%= number_field(:duration, nil) %> <br><br>
  
  <%= submit_tag("Generate!", class: "btn-custom" ) %>
<% end %>