<% provide(:title, "Generated Workout") %>

<h2>Duration: <%= @duration %>, Run: <%= @run %>, Abs: <%= @abs %>, Weights: <%= @weights %></h3>
<h4>Run Duration: <%= @run_duration %></h4>
<h4>Ab Duration: <%= @ab_duration %></h4>
<h4>Weight Duration: <%= @weight_duration %></h4>
<h4>Ab Exercises: <%= @ab_exercises %></h4>
<h4>Lift Exercises: <%= @lifts %></h4>

<%= form_tag("generate", method: "get") do %>
  <%= submit_tag("Generate new workout", class: "btn btn-custom" ) %>
<% end %>
<p>(To generate a new workout with the same parameters, you can refresh.)</p>