<% provide(:title, "Generated Workout") %>

<ul class="list-group">
  <li class="list-group-item table-custom">Run Duration (minutes): <%= @run_duration %></li>
  <li class="list-group-item table-custom">Ab Duration (minutes): <%= @ab_duration %></li>
  <li class="list-group-item table-custom">Weight Duration (minutes): <%= @weight_duration %></li>
  <li class="list-group-item table-custom">Ab Exercises: <%= @ab_exercises.join(', ') %></li>
  <li class="list-group-item table-custom">Lift Exercises: <%= @lifts.join(', ') %></li>
</ul>

<%= form_tag("generate", method: "get") do %>
  <%= submit_tag("Generate new workout", class: "btn btn-custom" ) %>
<% end %>
<p>(To generate a new workout with the same parameters, you can refresh.)</p>