<% provide(:title, "Log") %>
<h1>Exercise Log</h1>
<h3>Runs</h3>
<table class="table table-custom">
  <thead>
      <th scope="col">Date</th>
      <th scope="col">Length</th>
      <th scope="col">Duration</th>
  </thead>
  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.date %></td> 
        <td><%= run.length %></td> 
        <td><%= run.duration %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<h3>Ab Workouts</h3>
<table class="table table-custom">
  <thead>
    <th scope="col">Date</th>
    <th scope="col">Duration</th>
  </thead>
  <tbody>
    <% @ab_workouts.each do |ab_workout| %>
      <tr>
        <td><%= ab_workout.date %></td>
        <td><%= ab_workout.duration %></td>
      </tr>
    <% end %> 
  <tbody>
</table>

<h3>Weight Workouts</h3>
<table class="table table-custom">
  <thead>
    <th scope="col">Date</th>
    <th scope="col">Duration</th>
  </thead>
  <tbody>
    <% @weight_workouts.each do |weight_workout| %>
    <tr>
      <td><%= weight_workout.date %></td>
      <td><%= weight_workout.duration %></td> 
    </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Log new run", { action: "new", controller: "runs"}, { method: "get", class: "btn btn-custom" } %> <br>
<%= button_to "Log new ab workout", { action: "new", controller: "ab_workouts"}, { method: "get", class: "btn btn-custom" } %> <br>
<%= button_to "Log new lifting workout", { action: "new", controller: "weight_workouts"}, { method: "get", class: "btn btn-custom" } %>