<% provide(:title, "Log") %>
<h1>Exercise Log</h1>
<!--
Form:
Workout type (run, abs, weights)
If run:
  Length (miles)
  Duration (minutes)
Else if abs:
  Hash of exercises done (exercise, duration)
Else (lifts):
  Hash of lifts done (lift, count)
  
  List of workouts logged
  Buttons to log more workouts
-->
<h3>Runs</h3>
<% @runs.each do |run| %>
  <div>Date: <%= run.date %>, Length (miles): <%= run.length %>, Duration (minutes): <%= run.duration %> </div>
<% end %> <br>

<h3>Weight Workouts</h3>
<% @weight_workouts.each do |weight_workout| %>
  <div>Date: <%= weight_workout.date %>, Duration (minutes): <%= weight_workout.duration %> </div>
<% end %> <br>

<h3>Ab Workouts</h3>
<% @ab_workouts.each do |ab_workout| %>
  <div>Date: <%= ab_workout.date %>, Duration (minutes): <%= ab_workout.duration %> </div>
<% end %> <br>

<%= button_to "Log new run", { action: "new", controller: "runs"}, method: "get" %> <br>
<%= button_to "Log new ab workout", { action: "new", controller: "ab_workouts"}, method: "get" %> <br>
<%= button_to "Log new lifting workout", { action: "new", controller: "weight_workouts"}, method: "get" %>