<% provide(:title, "Log Weight Workout") %>
<h1>Add a Weight Workout</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @weight_workout, local: true) do |f| %>

      <%= f.label :duration %>
      <%= f.number_field :duration, class: 'form-control' %> <br>
      
      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %> <br>

      <%= f.submit "Log Weight Workout", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>