<% provide(:title, "Log Run") %>
<h1>Add a Run</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @run, local: true) do |f| %>
      <%= f.label :length %>
      <%= f.number_field :length, class: 'form-control' %> <br>

      <%= f.label :duration, 'Duration (minutes)' %>
      <%= f.number_field :duration, class: 'form-control' %> <br>
      
      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %> <br>

      <%= f.submit "Log Run", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>