<header class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
    <%= link_to "Workout Buddy", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", landing_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Exercise Log",  log_path %></li>
          <li><%= link_to "Generate Workout",  generate_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>